.search-content{
    margin-top: 20px;
    width: 982px;
}
.welcome-sign{
    margin-top: 40px;
}
.content{
    background-color: #C6C6C6;
    height: 500px;
}
.content-table{
    padding-top: 30px;
    width: 750px;
}